.font_zj1{
    font-size: 14px;
    font-family: "微软雅黑";
}
.font_2{
    font-size: 16px;
    font-family: "微软雅黑";
}
.resume_content{
    position: relative;
}
.register_msg,.register2_msg{
position: absolute;
    background: #ffffff;
    box-shadow:-1px -1px 10px rgba(15,126,158,0.1), /*左边阴影*/
    1px -1px 10px rgba(15,126,158,0.1), /*右边阴影*/
    0 12px 12px rgba(15,126,158,0.15); /*底边阴影*/
    left: 50%;
    top: 218px;
}
.register_msg{
    width:460px;
    height: 555px;
    margin-left: -230px;
    margin-bottom: 50px;
}
.register2_msg{
    width: 580px;
    height: auto;
    margin-left: -290px;
    margin-bottom: 50px;
}
.msg_zj,.msgreg2_zj{
    margin: 0 auto;
    position: relative;
}
.msg_zj{
    width: 340px;
    height: 555px;
}
.msgreg2_zj{
    width: 460px;
    height: 315px;
}
.msg_zj .img_tx{
    position: absolute;
    display: block;
    width: 110px;
    height: 110px;
    left: 50%;
    margin-left: -55px;
    top: -55px;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    background: #fff;
}
.msg_zj .img_tx .img_con{
    position: absolute;
    width: 110px;height: 110px;
    z-index: 999;
    top:0px;background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 110px;
}
.msg_zj  .icon1 {
    width: 60px;
    height: 60px;
    margin: 25px 25px;
    fill: currentColor;
    overflow: hidden;
}
.msg_zj  .icon2{
    width: 30px;
    height: 24px;
    color: #fff;
}
.pic_photo{
    width: 100%;
}
.register_msg .title_zj,.register2_msg .title_zj{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}
.register_msg .title_zj{
    margin-top: 65px;
}
.register2_msg .title_zj{
    margin-top: 30px;
}
.radio_box{
    display: inline-block;
    width: 160px;
    height: 43px;
    border:1px solid #dddddd;
    background: #fff;
    color: #747474;
    text-align: center;
    line-height: 43px;

}
#radio_box{
    height: 40px;
    width: 150px;
    padding: 0 5px 0 5px;
}
.radio_sec{
    border: 1px solid #1aa9d2;
    color: #1aa9d2;
}
.msg_zj .radio_box{margin-top: 25px;}
.right_align{
    float: right;
}
.left_align{
    float: left;
}
.font_left{
    text-align: left;
}
.msg_zj .general-input{
    width: 160px;
    height: 43px;
    line-height: 43px;float: right;
    margin-top: 25px;}
.msg_zj .general-input input{
    width: 106px;
    overflow: hidden;
}
.msg_zj .general-input{
     margin-left: 0px;
}
.register_msg .district_con span{
    width: 100px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg_zj .email_zj,.msg_zj .detail_zj{
    width: 100%;
    float: left;
}
.msg_zj .wrap{
    width: 100%;
}
.msg_zj .city1 .options{
    width: 162px;
    left: 0px;
    top: 70px;
    overflow-y: auto;
}
.msgreg2_zj  .options{
    width: 162px;
    left: 0px;
    top: 48px;
    overflow-y: auto;
}
.msg_zj .options div,.msgreg2_zj  .options div{
    width: 160px;
}
.msg_zj .district1 .options{
    width: 162px;
    left: 178px;
    right: 0px;
    top: 210px;
    overflow-y: auto;
}
.msg_zj .public_bigbtn{
    margin-top: 25px;
    text-align: center;
    padding: 0 0;
    border-radius: 1px;
    height: 48px;
    line-height: 48px;
}
.msgreg2_zj .general-input{
    width: 160px;
    margin-left: 0;
}
.msg_zj .name{
    float: left;
}
.msgreg2_zj .school,.msgreg2_zj .industry{
    width: 280px;
}
.msgreg2_zj .education,.msgreg2_zj .year{
    width: 160px;
}
.msgreg2_zj .school,.msgreg2_zj .education{
    margin-top: 20px;
}
.msgreg2_zj .industry,.msgreg2_zj .year{
    margin-top: 20px;
}
.msgreg2_zj .industry{
    float: left;
}
.msgreg2_zj .dashed{
    text-align: center;
    height: 45px;
    line-height: 45px;
    border: 1px dashed #0099cc;
    color:#0099cc ;
    margin-top: 25px;
    cursor: pointer;
    float: left;
    width: 100%;
}

.register2_msg .next_step{
    width: 100%;
    height: 85px;
    background: #f5f5f5;
    float: left;
    margin-top: 25px;
}
.next_step .prev{
    width: 360px;
    height: 85px;
    line-height: 85px;
    font-size: 16px;
    font-family: "微软雅黑";
    padding-left: 30px;
    color: #999999;
}
.next_step .next_btn{
    width: 160px;
    height: 48px;
    margin: 20px 0;
    background:#0099cc ;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
.register2_msg .zjaddexp{
    float: left;
    height: 160px;
}

.register2_msg .cwfdashed460{
    margin-left: 0;
    height: 0;
    float: left;
}

.register2_msg .cwfreg3content{
    margin-left: 0;
}
.rout .routzj{
    height: 820px;
    float: left;
}
.rout .routzj .rout_con{
    width: 700px;
    height: 450px;
    margin: 0 auto;
    margin-top: 150px;
    background: url("../images/qinghuai.png") no-repeat;
}
.rout .routzj .icos{
    float: left;
    width: 240px;
    height: 36px;
    margin-top: 375px;
    margin-left: 234px;
}
.rout .routzj .btn_start{
    float: left;
}
.rout .routzj .time{
    width: 110px;height: 36px;line-height: 36px;
    float: left;
    margin-left: 16px;
}

.rout .routzj .logo_r{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}